<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/stylesheet.css}" rel="stylesheet" />
<!-- <link  rel="stylesheet" href="C:\Users\Joipoi\IdeaProjects\Java2022\demo\src\main\resources\static\stylesheet.css" /> -->
<script type="text/javascript" th:src="@{/script.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="relicDiv">
       a
    </div>

    <div id="playerDiv">

        <p id="playerInfo"></p>
    </div>
    <div id="backgroundDiv">

    </div>
    <div id="enemiesDiv">

    </div>

    <div id="cardDiv">


    </div>
    <div id="deckDiv">
        <img src="/images/deck.png" id="deckImg">
    </div>
    <div id="endTurnDiv">
        <button id="endTurnBtn">end turn</button>
    </div>
    <div id="popUpDiv">

    <button id="popUpBtn">OK</button>
    </div>
   <!-- <div id="discardDiv">
        in discard div
    </div> -->



<script th:inline="javascript">
var nameJs = /*[[${cards}]]*/;
window.onload = init(nameJs);

</script>
</body>
</html>