html, body {
  margin:0px;
  padding:0px;
  height:100%;
}
div{
margin:0px;
  padding:0px;
}
p {
margin:0px;
  padding:0px;
  }

  body {
    display: grid;
    grid-template-areas:
      "relic relic relic"
      "player background enemies"
      "deck cards endTurn";
    grid-template-rows: 100px 1fr 250px;
    grid-template-columns: 20% 1fr 15%;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
    }

#relicDiv {
  background-color: red;
  grid-area: relic;

}
#playerDiv {
  background-color: green;
   grid-area: player;

}

#backgroundDiv {
  background-color: #88b57b;
  grid-area: background;

}
#enemiesDiv {
  background-color: black;
  grid-area: enemies;

}
#deckDiv {
  background-color: red;
   grid-area: deck;

}
#cardDiv {
  background-color: red;
   grid-area: cards;


}
#endTurnDiv {
  background-color: red;
   grid-area: endTurn;

}
#discardDiv {
  background-color: red;

}
#cardDiv > img {
height:250px;
width:130px;
}
#enemiesDiv > img {
height:250px;
width:230px;
}
#playerDiv > img {
height:530px;
width:100%;
}


